/* Typographies : Raleway*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Raleway', 'sans-serif', impact, arial;
    font-size: 1em;
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

body{
   
}   

/*Pour faire le footer responsif*/
footer{
   display: flex;
   justify-content: space-evenly;
   background: #F2F2F2;
}

/*header*/
header{
    display: flex; 
    justify-content: space-between;
    margin: 30px;
}

/*Nav bar*/
header img{
    
}

header nav{
    
}

#nav-menu{
    
}

#nav-menu ul li{
    display: inline-block;
    margin: 5px;
}

#nav-menu ul li a{
    color: rgb(168, 168, 168);
    text-decoration: none;
    padding: 30px 20px;
    border-top: 2px solid transparent;
    font-weight: 700;
}

#nav-menu ul li a:hover{
    color: steelblue;
    border-top: 2px solid steelblue;
}

/*TOP AREA*/
.filter-ul li{
    display: inline-block;
}

/*MID AREA*/
.mid-total-area{
    display: grid;
}
    /*Main mid-area*/

section .middle-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(601px, 1fr));
}
    /*aside mid-area*/
aside .middle-aside{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
/*BOTTOM AREA*/

/*FOOTER*/


footer div{
    flex-grow: 1;
    flex-wrap: wrap;
    flex-basis: 30%;
    padding: 30px;
}

.footer-div-separator h2{
    font-weight: 700;
    margin-bottom: 15px;
}

.footer-div-separator ul li{
    margin-bottom: 8px;
    list-style: none;
}